$default-font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$base-font-size: 16px;
$base-line-size: 21px;

$header-font-family: $default-font-family;
$header-font-weight: normal;
$header-font-style: normal;

$color-primary: black;

$ui-background-color: $color-primary;
$ui-background-color-hover: lighten($color-primary, 10);

$disabled-opacity: 0.7;

$border: solid 1px darken(white, 10);

$max-measure: 36em;

$unit-of-horizontal-rhythm: 10px;