.PrimaryHeader {
  //@include full;
  width: 100%;
  position:relative;

  .PrimaryHeader-Title {
    @include margin-bottom(half);
  }

  .PrimaryHeader-Subtitle {
    @include rhythm(bass-type-scale(base), 1);
    text-align: center;
    color: p(default, default, text-color-quiet)
  }

  h1+.Subtitle {
    @include margin-top(half);
  }

  @include margin-bottom(half);
}