.List--horizontal {
  @include clearfix;

  li
  {
    @include clearfix;
    @include adjust-font-size-to(type-scale(base), 1);
    float: left;
    margin-left: h-rhythm(half);
    &:first-child
    {
      margin-left: 0;
    }
  }
}