.AlertBox {
  p,
  .Icon {
    color: p(default, default, text-color-loud);
  }

  &--success {
    background-color: p(success);
  }

  &--warning {
    background-color: p(warning);
  }

  &--danger {
    background-color: p(danger);
  }
}