$default-footer-height: rem(200) !default;

.StickyFooter-contentWrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto; // the bottom margin is the negative value of the footer's height
}

.StickyFooter-push {
  height: $default-footer-height; // '.push' must be the same height as 'footer'
  @include padding-trailer(1);
}