//
// CSS-Only Shapes
// -------------------------------------------------------------------------------------------------

// Triangle pointing toward [top | bottom | left | right]
@mixin triangle( $length, $direction, $colour ) {
  $adjacent: opposite-position($direction);
  border: $length solid transparent;
  border-#{$adjacent}: $length solid $colour;
  border-#{$direction}: 0;
  height:0;
  width:0;
}

@mixin circle($diameter, $color) {
  width: $diameter;
  height: $diameter;
  background-color: $color;
  border-radius: $diameter/2;
}

@function opposite-position($position){
  $positions:(
    top: bottom,
    bottom: top,
    left: right,
    right: left
  );
  @return map-get($positions, $position);
}
