@mixin triangle( $point, $colour ) {
  $adjacent: opposite-position($point);
  border: 100px solid transparent;
  border-#{$adjacent}: 100px solid $colour;
  border-#{point}: 0;
  height:0;
  width:0;
}