.HorizontalList
{
  li
  {
    @include clearfix;
    @include adjust-font-size-to(type-scale(base), 1);
    float: left;
    margin-left: h-rhythm(0.5);
    &:first-child
    {
      margin-left: 0;
    }
  }
}