// Access the appropriate rhythm for the given breakpoint

@function get-rhythm($breakpoint:default) {
  @return map-get($rhythm-map, $breakpoint);
}

// Use a different baseline for a block of content then reset the baseline afterwards
//
// mixin adapted from the following pull request https://github.com/chriseppstein/compass/pull/1352
// See https://github.com/Compass/compass/issues/1487
// See http://sassmeister.com/gist/7992795

@mixin use-baseline($breakpoint) {

   $rhythm: get-rhythm($breakpoint);
   $new-base-size: map-get($rhythm, base-font-size);
   $new-line-height: map-get($rhythm, base-line-height);

   // Save the baseline context
   $initial-font-size: $base-font-size;
   $initial-line-height: $base-line-height;

   // Apply the new context
   $base-font-size: $new-base-font-size;
   $base-line-height: $new-line-height;
   @content;

   // Reapply the initial context
   $base-font-size: $initial-font-size;
   $base-line-height: $initial-line-height;
}