/*
Error: Invalid CSS after "...font-smoothing(": expected variable (e.g. $foo), was "on);"
        on line 20 of /Users/pedr/Documents/Work/Projects/Code/Sass/Bass/sass/bass/utils/_bass.utils.fonts.scss
        from line 4 of /Users/pedr/Documents/Work/Projects/Code/Sass/Bass/sass/bass/utils/*
        from line 6 of /Users/pedr/Documents/Work/Projects/Code/Sass/Bass/sass/_bass.scss
        from line 4 of src/sass/app.scss

15:     }
16: }
17: 
18: %antialiased
19: {
20:   @mixin font-smoothing(on);
21: }

Backtrace:
/Users/pedr/Documents/Work/Projects/Code/Sass/Bass/sass/bass/utils/_bass.utils.fonts.scss:20
/Users/pedr/Documents/Work/Projects/Code/Sass/Bass/sass/bass/utils/*:4
/Users/pedr/Documents/Work/Projects/Code/Sass/Bass/sass/_bass.scss:6
src/sass/app.scss:4
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/scss/parser.rb:1163:in `expected'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/script/lexer.rb:220:in `expected!'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/script/parser.rb:579:in `assert_tok'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/script/parser.rb:425:in `block in defn_arglist!'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/script/parser.rb:424:in `loop'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/script/parser.rb:424:in `defn_arglist!'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/script/parser.rb:121:in `parse_mixin_definition_arglist'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/scss/parser.rb:1025:in `sass_script'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/scss/parser.rb:229:in `mixin_directive'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/scss/parser.rb:219:in `special_directive'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/scss/parser.rb:194:in `directive'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/scss/parser.rb:661:in `block_child'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/scss/parser.rb:642:in `block'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/scss/parser.rb:635:in `ruleset'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/scss/parser.rb:660:in `block_child'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/scss/parser.rb:42:in `parse'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/engine.rb:393:in `_to_tree'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/engine.rb:299:in `to_tree'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:313:in `block in visit_import'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/stack.rb:88:in `block in with_import'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/stack.rb:115:in `with_frame'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/stack.rb:88:in `with_import'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/stack.rb:115:in `with_frame'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/stack.rb:79:in `with_base'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:315:in `block (2 levels) in visit_import'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:315:in `map'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:315:in `block in visit_import'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/stack.rb:88:in `block in with_import'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/stack.rb:115:in `with_frame'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/stack.rb:88:in `with_import'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/stack.rb:115:in `with_frame'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/stack.rb:79:in `with_base'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:315:in `block (2 levels) in visit_import'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:315:in `map'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:315:in `block in visit_import'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/stack.rb:88:in `block in with_import'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/stack.rb:115:in `with_frame'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/stack.rb:88:in `with_import'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/stack.rb:115:in `with_frame'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/stack.rb:79:in `with_base'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/plugin/compiler.rb:489:in `update_stylesheet'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/plugin/compiler.rb:209:in `each'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/plugin/compiler.rb:469:in `on_file_changed'
/Users/pedr/.gem/ruby/2.0.0/gems/sass-3.4.4/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/pedr/.gem/ruby/2.0.0/gems/listen-2.7.9/lib/listen/listener.rb:276:in `call'
/Users/pedr/.gem/ruby/2.0.0/gems/listen-2.7.9/lib/listen/listener.rb:276:in `_process_changes'
/Users/pedr/.gem/ruby/2.0.0/gems/listen-2.7.9/lib/listen/listener.rb:233:in `block in _wait_for_changes'
/Users/pedr/.gem/ruby/2.0.0/gems/listen-2.7.9/lib/listen/listener.rb:216:in `loop'
/Users/pedr/.gem/ruby/2.0.0/gems/listen-2.7.9/lib/listen/listener.rb:216:in `_wait_for_changes'
/Users/pedr/.gem/ruby/2.0.0/gems/listen-2.7.9/lib/listen/listener.rb:312:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...font-smoothing(\": expected variable (e.g. $foo), was \"on);\"\A         on line 20 of /Users/pedr/Documents/Work/Projects/Code/Sass/Bass/sass/bass/utils/_bass.utils.fonts.scss\A         from line 4 of /Users/pedr/Documents/Work/Projects/Code/Sass/Bass/sass/bass/utils/*\A         from line 6 of /Users/pedr/Documents/Work/Projects/Code/Sass/Bass/sass/_bass.scss\A         from line 4 of src/sass/app.scss\A \A 15:     }\A 16: }\A 17: \A 18: %antialiased\A 19: {\A 20:   @mixin font-smoothing(on);\A 21: }"; }
