//
// Modern Clearfix
//
// Source: [Bourbon](http://goo.gl/WXFG1F)
// -------------------------------------------------------------------------------------------------

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%clearfix{
  @include clearfix;
}