////
/// @author Pedr Browne (From mixins by Maximilian Hoffmann)
/// @group utils
////

/// Get the rhythm for the given orientation.
///
/// @param {String} $orientation
///   The orientation (horizontal | vertical).
///
/// @param {Number} $units (1)
///   The number of units of rhythm.
///
/// @param {String} $breakpoint (default)
///   The breakpoint to use when looking up the unit.
///
/// @returns {Number}
///   The rhythm.
///
@function bass-rhythm-value($orientation, $units: 1, $breakpoint: default) {

  // Ensure $orientation is valid
  @if $orientation != horizontal and $orientation != vertical {
    $error: bass-throw-error($bass-invalid-value-error, "Orientation must be either `horizontal` or `vertical` but it was `#{$orientation}`");
  }

  // Ensure $units is valid
  @if not bass-is-unitless-number($units) {
    @if map-has-key($custom-units-map, $units) {
      $units: map-get($custom-units-map, $units)
    } @else {
      @return bass-throw-error($bass-invalid-value-error, "The value `#{$units}` is not a valid value for a rhythm unit");
    }
  }

  $value: map-get-deep($bass-rhythm-value-map, $breakpoint, $orientation);
  @if $value {
    @return $value * $units;
  }@else {
    @return bass-throw-error($bass-no-rhythm-error, "There is no rhythm for breakpoint `#{$breakpoint}`");
  }
};

/// Get the vertical rhythm.
///
/// @param {Number} $units (1)
///   The number of units of rhythm.
///
/// @param {String} $breakpoint (default)
///   The breakpoint to use when looking up the unit.
///
/// @returns {Number}
///   The rhythm.
///
@function v-rhythm( $units: 1, $breakpoint: default ) {
  $pixel-value: bass-rhythm-value(vertical, $units, $breakpoint);
  @if $bass-rhythm-unit == rem {
    @return rem($pixel-value);
  }
  @return $pixel-value;
};

/// Get the horizontal rhythm.
///
/// @param {Number} $units (1)
///   The number of units of rhythm.
///
/// @param {String} $breakpoint (default)
///   The breakpoint to use when looking up the unit.
///
/// @returns {Number}
///   The rhythm.
///
@function h-rhythm( $units: 1, $breakpoint: default ) {
  $pixel-value: bass-rhythm-value(horizontal, $units, $breakpoint);
  @if $bass-rhythm-unit == rem {
    @return rem($pixel-value);
  }
  @return $pixel-value;
};