//
// Manage the z-index of elements in a central location
// -------------------------------------------------------------------------------------------------

$z-index-map: () !default;

// Constants
$z-index-bottom: 0;
$z-index-top: 9999999;

// Look up an element's z-index using a keyword
@function layer-z-index($layers...) {
  @return map-get-deep($z-index-map, $layers);
}

@mixin z-index($layers) {
  z-index: layer-z-index($layers);
}