////
/// @author Pedr Browne
/// @group utils
////

/// A quick way to add a titled block to represent content that will be added later.
///
/// @param {String} $name
///   The title to display.
///
/// @param {Number} $min-width
///   A min-width to simulate content.
///
/// @param {Number} $min-height
///   A min-height to simulate content.
///
/// @outputs Styles to make an element a placeholder
@mixin Placeholder($name, $min-width, $min-height: 0){
  background-color: #DDD;
  min-width: $min-width;
  min-height: $min-height;
  padding: v-rhythm() h-rhythm();
  &::after
  {
    content: $name;
  }
}