////
/// @author Pedr Browne
/// @group utils
////

/// A map containing other maps which each represent a z-index scope.
/// By always looking up modules' z-index values here the depth-relationships between
/// modules ar clear.
///
/// @type Map
///
$bass-z-index-map: () !default;

/// Look up an element's z-index using a keyword
///
/// @param {List} $path...
///   A path to the item, including its context and name.
///
/// @returns {Number}
///   The item's `z-index`.
///
/// @throws $bass-no-z-index-item-error
///
@function bass-z-index($path...) {
  $value: map-get-deep($bass-z-index-map, $path...);
  @if $value {
    @return $value;
  }@else {
    $error: bass-throw-error($bass-no-z-index-item-error, "There is no item with a z-index using the path `#{$path}`");
  }

  @return map-get-deep($bass-z-index-map, $path...);
}

/// Render a module's z-index
///
/// @param {List} $path...
///   A path to the item, including its context and name.
///
/// @outputs
///   The item's z-index
///
@mixin z($path...) {
  z-index: bass-z-index($path...);
}