////
/// @author Pedr Browne
/// @group utils
////

/// A modern clearfix using a pseudo selector to append content after the
/// element's contents to make it wrap floated content.
///
/// @output
///  Properties to force an element wrap any floated chidren.
///
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/// A placeholder for the `clearfix` mixin
///
/// @see {Mixin} clearfix
///
%clearfix{
  @include clearfix;
}