//
// Palette Map allows you to register and retrieve nested objects containing color palettes
// -------------------------------------------------------------------------------------------------

$palette-map: ();

// Look up a color value in the palette map
@function palette($palette-path...) {
  @return map-get-deep($palette-map, $palette-path);
}

// Shorthand
@function p($palette-path...) {
  @return palette($palette-path...);
}

// Register a palette to make it available using the c() function
// If no name is given, the values in $palette are added to $palette map's top level
@function register-palette($name:null, $palette:null, $overwrite:true) {
  // Merge, overriding existing values
  @if $name {
    $palette-map: map-merge-deep($palette-map, ($name: $palette), $overwrite) !global;
  }@else{
    $palette-map: map-merge-deep($palette-map, $palette, $overwrite) !global;
  }
  @return none;
}

// Because sass doesn't support function invocation at a root level it has to be done from within a mixin
@mixin register-palette($name:null, $palette:null, $overwrite:true){
  $temp: register-palette($name, $palette, $overwrite);
}