////
/// @author Pedr Browne
/// @group support
////

/// Perform a deep merge of two maps, optionally overwriting existing values.
/// Note: I have a PR open adding this to Sassy maps
///
/// @param {Map} $map-old
///   The map to merge to.
///
/// @param {Map} $map-new
///   The map to merge into `$map-old`
///
/// @param {Bool} $overwrite (true)
///   How should the merge deal with existing values? If true, any existing values will be
///   Overwritten. If false, existing values will be preserved. The logic handling overwriting
///   Will fully recurse the map, so merging is based on path rather than node.
///
/// @return {Map}
///   A new map resulting from the merge of `$map-old` and `$map-new`.
///
@function map-merge-deep($map-old, $map-new, $overwrite: true) {
  // Iterate through each value of the new map
  @each $key, $new-value in $map-new {
    // Check if that value already exists on the old map
    @if map-has-key($map-old, $key) {
      // There is an existing key
      $old-value: map-get($map-old, $key);
      @if type-of($new-value) == map and type-of($old-value) == map {
        // If both are maps, recurse regardless of $overwrite
        $merged-value: map-merge-deep($old-value, $new-value);
        $map-old: map-set($map-old, $key, $merged-value);
      }@else{
        // Otherwise check $overwrite
        @if $overwrite{
          $map-old: map-set($map-old, $key, $new-value);
        }
      }
    }@else{
      // There is no existing key so add
      $map-old: map-set($map-old, $key, $new-value);
    }
  }
  @return $map-old;
}