//
// Colours
//
// Define the colours you will use in your application. Use names from the domain of colour. Don't
// use abstract / semantic names. These colours will be mapped to semantic names when you register
// palettes in the palette configuration.
// -------------------------------------------------------------------------------------------------

// Greyscale
$black: #181919;
$mid-grey: #5F6060;
$light-grey: #C1C0C0;
$white: #F9F9F9;

// Colours
$purple: #975EA3;
$red: #E84365;
$orange: #EF8B47;
$yellow: #F5E71B;
$green: #5AAD44;
$blue: #0782BB;