//
// Vertical Rhythms
//
// Vertical Rhythm is a crucial part of the layout. By choosing a base-font-size and a
// base-line-height, you set up a unit that is used throughout the page for consistancy.
// You can choose multiple vertical rhythms, each keyed to a breakpoint. By also establishing
// a baseline at these same breakpoints, you can alter the page's vertical rhythm at each
// breakpoint.
// -------------------------------------------------------------------------------------------------

// Other than 'default', each key should echo a breakpoint declared in the breakpoint config.
$vertical-rhythms: (
  default:(
    base-font-size: 14px,
    base-line-height: 20px
  ),
  medium:(
    base-font-size: 16px,
    base-line-height: 24px
  )
);

// Compass Vertical Rhythm configration
$rhythm-base-font-size: get-rhythm(base-font-size);
$rhythm-base-line-height: get-rhythm(base-line-height);
@include rhythm-establish;

// Configuration for rem() calculations
$rem-base: $base-font-size;