.Page-footer,
.Page-header {
  background: black;
  color: white;
  padding: rem(30);
  text-align: center;
  @include font-smoothing-on;
}

.Page-footer
{
  height: $default-footer-height;
}

.Page-body
{
  max-width: rem(1200);
  margin: 0 auto;
  padding: rem(20 20 50);
}

.SectionHeading
{
  font-size: rem(18);
  text-transform: uppercase;
  padding: rem(30 0 20);
  color: #DDD;
}

h3.SectionHeading
{
  font-size: rem(14);
  text-transform: none;
}

.SectionHeading+.SectionHeading,
p+h3.SectionHeading
{
  padding-top: 0;
}

// Shapes

%shape
{
  display: inline-block;
  @include margin-top(single);
}

.triangle-top
{
  @extend %shape;
  @include triangle(rem(30), top, black);
}

.triangle-right
{
  @extend %shape;
  @include triangle(rem(30), right, black);
}

.triangle-bottom
{
  @extend %shape;
  @include triangle(rem(30), bottom, black);
}

.triangle-left
{
  @extend %shape;
  @include triangle(rem(30), left, black);
}

.circle
{
  @extend %shape;
  @include circle(rem(50), black);
}