h1,
h2,
h3,
h4,
h5,
h6
{
  font-family: $header-font-family;
  font-weight: $header-font-weight;
  font-style: $header-font-style;
  text-rendering: $header-text-rendering;
  margin: 0;
  padding: 0;
}