a
{
  text-decoration: none;
  color: color-for(default, link, text-color);
  @include transition(background-color 0.4s ease-in-out);
  @include transition(color 0.4s ease-in-out);

  &:hover,
  &:focus
  {
    color: color-for(default, link, hover, text-color);
  }

  .active &
  {
    color: color-for(default, link, active, text-color);
  }

  &.disabled,
  &.disabled:hover
  {
    color: color-for(default, link, disabled, text-color) !important;
    opacity:0.2;
  }

  img
  {
    border:none;
  }
}