table
{
  border-collapse: collapse;
  table-layout: fixed;
  margin: 0;
  width: 100%;
}

th
{
  border-bottom: $defaults-border;
  padding: 0;
  font-weight: bold;
  text-align: left;
}

td
{
  border-bottom: $defaults-border;
  padding: 0;
}

tr,
td,
th
{
  vertical-align: middle;
}