%button {
  @include rhythm(bass-type-scale(base), 2);
  padding-left: h-rhythm(half);
  padding-right: h-rhythm(half);
  display: block;
  border: none;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -webkit-border-radius:0;
  color: p(default, button, text-color);
  background-color: p(default, button, background-color);

  &.is-active {
    color: p(default, button, active, text-color);
    background-color: p(default, button, active, background-color);
  }

  &.is-disabled,
  &.is-disabled:hover {
    opacity: $bass-disabled-opacity;
    cursor: not-allowed;
    color: p(default, button, disabled, text-color);
    background-color: p(default, button, disabled, background-color);
  }

  &:hover,
  &:focus {
    background-color: p(default, button, hover, background-color);
  }

  .Icon {
    @include rhythm(bass-type-scale(base), 2);
  }
}

button,
input[type="submit"] {
  @extend %button;
}