/* Adjust margin for form elements below */
input[type="file"],
input[type="checkbox"],
input[type="radio"] {
  margin: 0;
}

input,
textarea,
select
{
  @include margin-bottom(single);
}

/* Override normalize */
input[type="search"] {
  box-sizing: border-box;
}


/* We use this to get basic styling on all basic form elements */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  @include inset-shadow;
  border: none !important;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  color: c(default, default, text-color);
  border-radius: 6px;
  background: c(default, form, input, background-color);
}

select
{
  @include rhythm(bass-type-scale(base), 2);
  @include padding(0 half);
  border: $bass-default-border;
  width: 100%;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

input[type="submit"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

/* Respect enforced amount of rows for textarea */
textarea[rows] {
  height: auto;
}



input[type="checkbox"] + label,
input[type="radio"] + label {
  @include margin-left(half);
  display: inline-block;
  margin-bottom: 0;
  vertical-align: baseline;
}

/* Normalize file input width */
input[type="file"] {
  width:100%;
}

form {
  @include margin-bottom(single);
}

input,
label {
  display: block;
  width: 100%;
}

input,
textarea {
  @include padding(0 single)
}

input {
  @include rhythm(bass-type-scale(base), 2);
}

textarea {
  @include padding(half 0);
  height: auto;
}

label {
  @include rhythm(bass-type-scale(base), 1);
  @include margin-bottom(half);
}



input[type=checkbox],
input[type=radio] {
  @include margin-bottom(single);
  display: inline-block;
  width: auto;

  &+label
  {
    display: inline-block;
    width: auto;
  }
}

textarea {
  width: 100%;
  max-width: 100%;
}