p
{
  font-family: $default-font-family;
  line-height: inherit;
  margin: 0;
  @include margin-trailer(1);
  @include adjust-font-size-to(type-scale(base));
  color: c(default, default, text-color);
}

%WithMaxMeasure
{
  max-width: $max-measure;
}