blockquote {
  @include padding-left(single);
  @extend %WithMaxMeasure;
  margin: 0;
  border-left: $bass-default-border;
}

cite {
  font-style: italic;
  display: block;
  &:before
  {
    content: "\2014 \00A0";
  }
}