p {
  @include rhythm(bass-type-scale(base));
  @include margin-bottom(single);
  @extend %WithMaxMeasure;
  font-family: $bass-default-font-family;
  color: p(default, default, text-color);
}

%WithMaxMeasure {
  max-width: $bass-max-measure;
}