%button
{
  @include adjust-font-size-to(type-scale(base), 2);
  padding-left: h-rhythm(0.5);
  padding-right: h-rhythm(0.5);
  display: block;
  border: none;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -webkit-border-radius:0;
  color: c(default, button, text-color);
  background-color: c(default, button, background-color);

  &:hover,
  &:focus
  {
    background-color: c(default, button, hover, background-color);
  }

  &.disabled
  {
    opacity: $disabled-opacity;
    cursor: not-allowed;
  }

  .Icon
  {
    @include adjust-font-size-to(type-scale(base), 2);
  }

}

button
{
  @extend %button;
}