a {
  text-decoration: none;
  color: p(default, link, text-color);
  transition: background-color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;

  &:hover,
  &:focus
  {
    color: p(default, link, hover, text-color);
  }

  &.is-active
  {
    color: p(default, link, active, text-color);
  }

  &.is-disabled,
  &.is-disabled:hover
  {
    color: p(default, link, disabled, text-color) !important;
    opacity:0.2;
  }

  img
  {
    border:none;
  }
}