blockquote {
  @extend %WithMaxMeasure;
  margin: 0;
  padding: 0 0 0 h-rhythm();
  border-left: $border;
}

cite {
  font-style: italic;
  display: block;
  &:before
  {
    content: "\2014 \00A0";
  }
}