$defaults-color-primary: red !default;

$defaults-ui-background-color: $defaults-color-primary !default;
$defaults-ui-background-color-hover: lighten($defaults-color-primary, 10) !default;
$defaults-disabled-opacity: 0.7 !default;
$defaults-border: solid 1px darken(white, 10) !default;
$defaults-max-measure: 36em;