////
/// @author Pedr Browne
/// @group config
////

// You can override any of these values by registering a palette of the same name.
@include register-palette(default,
  (
    default:
    (
      background-color:       white,
      text-color:             black,
      text-color-quiet:       lighten(black, 15),
      text-color-loud:        white,
      title-color:            black,
      divider-color:          darken(white, 2)
    ),

    link:
    (
      text-color:             black,
      text-color-quiet:       lighten( black, 20),
      hover:
      (
        text-color:           lighten( black, 60),
      ),
      disabled:
      (
        text-color:           darken( black, 90),
      ),
      active:
      (
        text-color: lighten( black, 60)
      )
    ),

    button:
    (
      text-color:             white,
      background-color:       black,
      hover:
      (
        text-color:           darken(white, 20),
        background-color:     lighten( black, 40)
      ),
      disabled:
      (
        text-color:           darken( white, 30),
        background-color:     darken( white, 60)
      ),
      active:
      (
        text-color: darken( white, 20),
        background-color: lighten( black, 15)
      )
    ),

    form:(
      input:
      (
        background-color: darken(white, 5)
      )
    )
  )
);