//
// Default rhythm settings
// -------------------------------------------------------------------------------------------------

$bass-rhythm-map: (
  default:(
    vertical: 22px,
    horizontal: 22px
  )
) !default;

// Vertical Rhythm
// -------------------------------------------------------------------------------------------------

// Vertical Rhythm configration
$rhythm-base-font-size: bass-type-scale(base);

// @error $rhythm-base-font-size;
$rhythm-base-line-height: bass-rhythm(vertical);
$rhythm-round-to-nearest-half-line: true;
@include rhythm-establish;

// // Rem Conversion
// // -------------------------------------------------------------------------------------------------

$rem-base: $rhythm-base-font-size;

// // Horizontal Rhythm
// // -------------------------------------------------------------------------------------------------

$unit-of-horizontal-rhythm: bass-rhythm(horizontal); // Here we are using the same unit as the vertical