////
/// @author Pedr Browne
/// @group config
////

/// Set the base font size for rem and em calculations.
/// This should be the font-size of the `html` element
///
/// @type Number
///
$bass-rem-base: $rhythm-base-font-size !default;

/// Set the value for h-rhythm and v-rhythm to output in.
///
/// @type String
///
$bass-rhythm-unit: rem;

/// A map containing custom units to use in rhythm, size, box and positional calculations.
/// You can use any units you like. By default Bass uses fractional units and multiplies
/// them with the rhythm unit.
///
/// @type Map
///
$bass-custom-units-map: (
  single: 1,
  double: 2,
  triple: 3,
  quadruple: 4,
  half: 0.5,
  third: 0.333333333,
  quarter: 0.25
) !default;