$default-font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$default-font-weight: normal !default;

$header-font-family: $default-font-family  !default;
$header-font-weight: normal !default;
$header-font-style: normal !default;

$max-measure: 36em !default;