//
// Default typography
// -------------------------------------------------------------------------------------------------

$bass-default-font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$bass-default-font-weight: normal;

$bass-header-font-family: $bass-default-font-family ;
$bass-header-font-weight: normal;
$bass-header-font-style: normal;

$bass-max-measure: 40em; // Maximum width of a paragraph proportional to the size of the font it uses