$base-font-size: 16px;
$rem-base: $base-font-size;

$rhythm-map: (
  default:(
    base-font-size: $base-font-size,
    base-line-height: $base-font-size * 1.357142857
  )
);

// Compass Vertical Rhythm configration

$base-line-height: 20.8px;
$round-to-nearest-half-line: true;
$rhythm-unit: 'rem';
$relative-font-sizing : false;
$min-line-padding: 0;
@include establish-baseline;
// End

$unit-of-horizontal-rhythm: rhythm(); // Here we are using the same unit as the vertical