////
/// @author Pedr Browne
/// @group config
////

/// Map storing type scales, with values keyed to semantic names
///
/// @type Map
///
$bass-type-scale-map:
(
  default:
  (
    tiny:                10px,
    small:               12px,
    base:                16px,
    medium:              17px,
    large:               22px,
    x-large:             28px
  )
) !default;