////
/// @author Pedr Browne
/// @group config
////

/// A map of horizontal and vertical rhythm values for rhythm, size, box and positional calculations
///
/// @type Map
///
$bass-rhythm-value-map: (
  default:(
    vertical: 22px,
    horizontal: 22px
  )
) !default;
