////
/// @author Pedr Browne
/// @group config
////

/// A map containing custom units to use in rhythm, size, box and positional calculations
$custom-units-map: (
  single: 1,
  double: 2,
  triple: 3,
  quadruple: 4,
  half: 0.5,
  third: 0.333333333,
  quarter: 0.25
) !default;

/// Parse custom values into distance values.
///
/// @param {String} $key
///   The value to parse.
///
/// @param {String} $orientation
///   The orientation of the value (horizontal | vertical).
///
/// @returns {Number}
///   The parsed value
///
/// @throws $bass-invalid-value-error
///
@function bass-parse-custom-unit-filter($key, $orientation){
  @if map-has-key($custom-units-map, $key) {
    // Find the unit
    $unit: map-get($custom-units-map, $key);
    // Use the unit with the rhythm value for the orientation
    @return bass-rhythm-value($orientation, $unit);
  } @else {
    // If it isn't recognised throw an error
    // Unfortunately Sass doesn't allow us to call super.
    @return position-throw-error($bass-invalid-value-error, "Invalid value #{$value}");
  }
}